html {
    box-sizing: border-box;
    height: 100%;
}

body {
    box-sizing: border-box;
    height: 100%;
    padding-bottom: 15px;
}

.webtile * {
    /* make box width include border & padding */
    box-sizing: border-box;
}

.webtile {
    width: 100%;
    height: 100%;
    visibility: hidden;
    border: 0px;
    padding: 0px;
    border-width: 0px 1px 1px 0px;
    border-style: solid;
    border-color: gray;
}

.wt-partition {
    height: 100%;
    width: 100%;
    padding: 0px;
    vertical-align: top;
}

.wt-vertical > * {
    display: block;
}

.wt-horizontal > * {
    display: inline-block;
    vertical-align: top;
}

.wt-title {
    background-color: #1975FF;
    padding: 1px 5px 1px 5px;
    cursor: pointer;
}

.wt-content {
    padding: 5px;
    overflow-x: auto;
    overflow-y: auto;
    width: 100%;
}

.wt-window {
    border-width: 1px 0px 0px 1px;
    border-style: solid;
    border-color: gray;
    position: relative;
}

.wt-mask {
    position: absolute;
    background-color: #00aa00;
    opacity: 0.5;
    border-width: 1px;
    border-style: dotted;
    border-color: gray;
}

.wt-dragee {
    opacity: 0.5;
    position: absolute;
    border-width: 1px;
}
